In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

* we need pyarrow to workout with parquet
* pip install pyarrow

In [3]:
data = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

In [4]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [5]:
import sklearn

In [6]:
sklearn.__version__

'1.5.0'

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [8]:
data = pd.read_parquet('green_tripdata_2024-01.parquet')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56551 entries, 0 to 56550
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               56551 non-null  int32
 1   lpep_pickup_datetime   56551 non-null  datetime64[us]
 2   lpep_dropoff_datetime  56551 non-null  datetime64[us]
 3   store_and_fwd_flag     53136 non-null  object
 4   RatecodeID             53136 non-null  float64
 5   PULocationID           56551 non-null  int32
 6   DOLocationID           56551 non-null  int32
 7   passenger_count        53136 non-null  float64
 8   trip_distance          56551 non-null  float64
 9   fare_amount            56551 non-null  float64
 10  extra                  56551 non-null  float64
 11  mta_tax                56551 non-null  float64
 12  tip_amount             56551 non-null  float64
 13  tolls_amount           56551 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  56551 non-null  float64
 16  total_amount           56551 non-null  float64
 17  payment_type           53136 non-null  float64
 18  trip_type              53133 non-null  float64
 19  congestion_surcharge   53136 non-null  float64
dtypes: datetime64[us](2), float64(14), int32(3), object(1)
memory usage: 8.0+ MB

In [10]:
data.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [11]:
#### Text Manipulation for reading Flexibility

In [13]:
data['lpep_dropoff_datetime'] = pd.to_datetime(data['lpep_dropoff_datetime'])
data['lpep_pickup_datetime'] = pd.to_datetime(data['lpep_pickup_datetime'])

In [15]:
data['duration'] = data['lpep_dropoff_datetime'] - data['lpep_pickup_datetime']

In [17]:
data['duration']

0       0 days 00:11:30
1       0 days 00:20:52
2       0 days 00:19:02
3       0 days 00:11:52
4       0 days 00:10:59
              ...
56546   0 days 00:09:00
56547   0 days 00:05:00
56548   0 days 00:04:00
56549   0 days 00:06:00
56550   0 days 00:31:00
Name: duration, Length: 56551, dtype: timedelta64[us]

In [18]:
data['duration'] = data['duration'].apply(lambda x:x.total_seconds()/60)

In [20]:
data = data[(data['duration'] >= 1) & (data['duration'] <= 60)]

In [23]:
cat = ['PULocationID' , 'DOLocationID']
num = ['trip_distance']

In [24]:
data[cat] = data[cat].astype(str)

/tmp/ipykernel_3080/2289928682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[cat] = data[cat].astype(str)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54373 entries, 0 to 56550
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               54373 non-null  int32
 1   lpep_pickup_datetime   54373 non-null  datetime64[us]
 2   lpep_dropoff_datetime  54373 non-null  datetime64[us]
 3   store_and_fwd_flag     51062 non-null  object
 4   RatecodeID             51062 non-null  float64
 5   PULocationID           54373 non-null  object
 6   DOLocationID           54373 non-null  object
 7   passenger_count        51062 non-null  float64
 8   trip_distance          54373 non-null  float64
 9   fare_amount            54373 non-null  float64
 10  extra                  54373 non-null  float64
 11  mta_tax                54373 non-null  float64
 12  tip_amount             54373 non-null  float64
 13  tolls_amount           54373 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  54373 non-null  float64
 16  total_amount           54373 non-null  float64
 17  payment_type           51062 non-null  float64
 18  trip_type              51061 non-null  float64
 19  congestion_surcharge   51062 non-null  float64
 20  duration               54373 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(1), object(3)
memory usage: 8.9+ MB

In [26]:
data.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                     object
DOLocationID                     object
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
duration                        float64
dtype: object